# Neon Database Connection
DATABASE_URL="postgresql://neondb_owner:npg_grldnN9hjkc7@ep-dark-poetry-az6rk6ec-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"



# Add this line below your DATABASE_URL
JWT_SECRET="advrix_super_secret_key_2026_secure_login"

# Neon Auth URLs
NEON_AUTH_URL="https://ep-dark-poetry-az6rk6ec.neonauth.c-3.ap-southeast-1.aws.neon.tech/neondb/auth"
NEON_JWKS_URL="https://ep-dark-poetry-az6rk6ec.neonauth.c-3.ap-southeast-1.aws.neon.tech/neondb/auth/.well-known/jwks.json"